//* color variables
$primary    :#0F6278;
$secondary  :#3EC7F8;
$info       :#FF9A24;
$default    :#181818;

$colors:(
  "primary"   :$primary,
  "secondary" :$secondary,
  "info"      :$info,
  "default"   :$default,
  "blue"      :#257FEB,
  "purple"    :#7D72FC,
  "error"     :#e61919,
  "white-shade":#F8F8F8,
  "white"     :white,
  "black"     :black
);

//* Base spacing
$base-padding:0.75rem;
$base-margin:0.75rem;

//* borders
$base-border-thickness:1px;
$base-border-radius:10px;


//* base box shadow
$base-box-shadow:1px 3px 5px rgba(0, 0, 0, 0.1);

//* Font sizes
$base-font-size:1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;